<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='page.css') }}">

</head>
<body>
    <div class="cover">
        <div class="container">
            <div class="user-photo mdc-elevation--z3">
                <img src="https://via.placeholder.com/150" alt=''>
            </div>
            <h1>Omotayo Oyeniyi</h1>
            <h3>Admin ID: 8342bed</h3>

            <ul>
                <li>Omotayo@banka.com</li>
            </ul>

            <a href={{url_for("index")}} id="button">Sign Out</a>
        </div>

        <div class="wrapper">
            <section> 
                <div class="tabs">
                    <input type="radio" name="tabs" class="modal-open"  data-modal="modal2"id="create-account">
                    <label for="create-account">Create Account</label>
                    <div class="modal" id="modal2">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <label for="name">First Name</label>
                            <input type="text" name="name">

                            <label for="name">Last Name</label>
                            <input type="text" name="name">

                            <label for="admin-staff-id">Email Address</label>
                            <input type="email" name="email-address">

                            <label for="role">Role</label>
                            <input type='text' ... list='listid'>
                            <datalist id='listid'>
                             <option label='Admin' value='Admin'>
                                 <option label='Staff' value='Staff'>
                                     ...
                                 </datalist>


                                 <label for="Password">Password</label>
                                 <input type="Password" name="Password">

                                 <button>Create</button>
                             </div>
                         </div>

                         <input type="radio" name="tabs" id="view-recent">
                         <label for="view-recent">View Recent</label>
                         <div class="tab">
                            <h1>Recent Transactions</h1> 
                            <div class="list">
                                <ul>
                                    <li>Date</li>

                                    <li>Description</li>
                                    <li>Amount</li>
                                </ul>
                                <ul>
                                    <li data-label="date">dd/mm/yy</li>
                                    <li data-label="Disription">Sms charge for March 2019</li>
                                    <li id="debit"data-label="amount">#52,00</li>
                                </ul>

                                <ul>
                                    <li data-label="date">dd/mm/yy</li>
                                    <li data-label="Disription">Your Account was Credited with the sum of</li>
                                    <li id="credit" data-label="amount">#20,000</li>  
                                </ul>

                                <ul>
                                    <li data-label="date">dd/mm/yy</li>
                                    <li data-label="Disription">Sms charge for March 2019</li>
                                    <li id="debit" data-label="amount">#52,00</li>
                                </ul>
                            </div> 
                            <button class="sec">Load More</button>
                        </div>
                        <input type="radio" name="tabs" id="view-all-account">
                        <label for="view-all-account">View All</label>
                        <div class="tab">
                            <h1>All Accounts</h1>
                            <div class="list">
                                <ul>
                                    <li>ID</li>
                                    <li>Name</li>
                                    <li>Number</li>
                                    <li>Actions</li>
                                </ul>
                                <ul>
                                    <li data-label="s/n">1</li>
                                    <li data-label="account name">Omotayo Oyeniyi</li>
                                    <li data-label="account number">0023575930</li>
                                    <button class="modal-open" data-modal="modal8">View</button>
                                    <button class="modal-open" data-modal="modal5">Activate</button>
                                    <button class="modal-open" data-modal="modal1">Dactivate</button>
                                    <button class="modal-open" data-modal="modal11">Delete</button>
                                </ul>

                                <ul>
                                    <li data-label="s/n">2</li>
                                    <li data-label="account name">Omotayo Oyeniyi</li>
                                    <li data-label="account number">0024585104</li>
                                    <button class="modal-open" data-modal="modal9">View</button>
                                    <button class="modal-open" data-modal="modal6">Activate</button>
                                    <button class="modal-open" data-modal="modal3">Dactivate</button>
                                    <button class="modal-open" data-modal="modal12">Delete</button> 

                                </ul>

                                <ul>
                                    <li data-label="s/n">3</li>
                                    <li data-label="account name">Omotayo Oyeniyi</li>
                                    <li data-label="account number">0024696215</li>
                                    <button class="modal-open" data-modal="modal10">View</button>
                                    <button class="modal-open" data-modal="modal7">Activate</button>
                                    <button class="modal-open" data-modal="modal4">Dactivate</button>
                                    <button class="modal-open" data-modal="modal13">Delete</button> 

                                </ul>
                            </div> 
                        </div>
                    </div>
                </section>

                <section> 
                    <div class="modal" id="modal1">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Deactivate This Account?</h1>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal3">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Deactivate This Account?</h1>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal4">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Deactivate This Account?</h1>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal5">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Activate This Account?</h1>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal6">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Activate This Account?</h1>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal7">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Activate This Account?</h1>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal11">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Delete Account?</h1>
                            <p>This action will permanently delete this account</p>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal12">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Delete Account?</h1>
                            <p>This action will permanently delete this account</p>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal13">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Delete Account?</h1>
                            <p>This action will permanently delete this account</p>
                            <a href="#">yes</a>
                            <a href="#">No</a>
                        </div>
                    </div>
                    <div class="modal" id="modal8">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Account Details</h1>
                            <ul>
                                <li>Account Name</li>
                                <li>Account Number</li>
                                <li>Account Balance</li>
                                <li>Account Type</li>
                                <li>Other Accounts</li>
                            </ul>
                            <ul>
                                <li data-label="account name">Omotayo Oyeniyi</li>
                                <li data-label="account number">0023575930</li>
                                <li data-label="account balance">500,000.00</li>
                                <li data-label="account type">Savings Account</li>
                                <li data-label="other account">Current Account</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="modal" id="modal9">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Account Details</h1>
                            <ul>
                                <li>Account Name</li>
                                <li>Account Number</li>
                                <li>Account Balance</li>
                                <li>Account Type</li>
                                <li>Other Accounts</li>
                            </ul>
                            <ul>
                                <li data-label="account name">Omotayo Oyeniyi</li>
                                <li data-label="account number">0023575930</li>
                                <li data-label="account balance">500,000.00</li>
                                <li data-label="account type">Savings Account</li>
                                <li data-label="other account">Current Account</li>
                            </ul>
                        </div> 
                    </div>
                    <div class="modal" id="modal10">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h1>Account Details</h1>
                            <ul>
                                <li>Account Name</li>
                                <li>Account Number</li>
                                <li>Account Balance</li>
                                <li>Account Type</li>
                                <li>Other Accounts</li>
                            </ul>
                            <ul>
                                <li data-label="account name">Omotayo Oyeniyi</li>
                                <li data-label="account number">0024585104</li>
                                <li data-label="account balance">500,000.00</li>
                                <li data-label="account type">Savings Account</li>
                                <li data-label="other account">Domicilary Account</li>
                            </ul>
                        </div> 
                    </div>

                </section>         
            </div>
        </div>        
        <footer>
            <p>Banka App &copy; 2019</p>
        </footer>
       <script src="{{url_for('static', filename='modal.js')}}"></script>    
    </body>
    </html> 