{% extends "./base.html" %}
{% block body %}
    <section class="top-container">
        <header class="showcase" id="about">
            <h1>Welcome to Banka</h1>
            <p>Banka is a light-weight core banking application that powers banking operations like account creation, customer deposit and withdrawals. </p>
            <a href="" class="btn">Learn More</a>
        </header>
        <div class="top-box" id="top-box-a">
            <h3>Sign Up Now</h3>
            <form action="{{url_for('views.signup')}}" method="POST" class="sign-up">
                <div class="form-control" class="{% if errors.full_name %}error{% endif %}">
                    <label >Full Name</label>
                    <input type="text" name="full_name" value="{{form.full_name}}" placeholder="Full Name">
                    {% if errors.full_name %}
                        <span>{{errors.full_name}}</span>
                    {% endif %}
                </div>
                <div class="form-control" class="{% if errors.full_name %}error{% endif %}">
                    <label >Email Adderss</label>
                    <input type="email" name="email" value="{{form.email}}" placeholder="Email Address">
                    {% if errors.email %}
                        <span>{{errors.email}}</span>
                    {% endif %}
                </div>
                <div class="form-control" class="{% if errors.full_name %}error{% endif %}">
                    <label >Create Password</label>
                    <input type="password" name="password" value="{{form.password}}" placeholder="Create Password">
                    {% if errors.password %}
                        <span>{{errors.password}}</span>
                    {% endif %}
                </div>
                <div class="form-control" class="{% if errors.full_name %}error{% endif %}">
                    <label >Confirm Password</label>
                    <input type="password" name="confirm_password" value="{{form.confirm_password}}" placeholder="Confirm Password">
                    {% if errors.confirm_password %}
                        <span>{{errors.confirm_password}}</span>
                    {% endif %}
                </div>
                <div class="form-control">
                    <button type="submit" class="btn-a">Sign UP</button>
                    <!-- <a href={{url_for("views.login")}} class="btn-a" >Log In</a>  -->
                    <a href={{url_for("views.login")}}>Have an account? Login In</a>

                </div>
            </form>
        </div>
    </section>

    <section class="txt" id="services">
        <h1>Features</h1>
        <p>Banka allows you to create multiple bank accounts from any mobile device. Our User dashboad is friendly, simple, editable profile picture field and real time transaction history notification.
    <div class="boxes">
                <div class="box" id="box1">
                    <i class="fas fa-sign-in-alt" id="icon"></i>
                    <h2>Login Here</h2>
                    <a href="login.html" class="btn-a" >Log In</a>
                </div>

                <div class="box">
                    <i class="far fa-address-card" id="icon"></i>
                    <h2>User Dashboard</h2>

                </div>

                <div class="box">
                    <i class="fab fa-creative-commons-share" id="icon"></i>
                    <h2>Create Account</h2>
                </div>

                <div class="box">
                    <i class="far fa-bell" id="icon"></i>
                    <h2>Email Notifications</h2>

                </div>

            </div>
        </section>
    {% endblock %}