{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login To Banka</title>
    <link rel="stylesheet" href="{% static  'forms.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="forms">
     <h1>Admin Login</h1>
     <div class="wrapper">
        <form action="#" >
            <label >User Name</label>
            <input type="text" name="name" placeholder="User Name">

            <label >Password</label>
            <input type="password" name="password" placeholder="Enter Password">

            <a href="{% url 'admin' %}" id="button">Log In</a>
            <a href="{% url 'home' %}">Visit Home Page</a>
        </form>
    </div>
</div>
</body>
</html>